<div class="projectDisplay">
<div class="projectBlock">
  <a href={{slug}}>
    <img src={{imageUrl}} alt={{imageTitle}}/>
  </a></div>
  
  <div class="projectTitle">
  <p>{{ title }}</p>
</div>
</div>
