.contentHome{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    text-align: center;

    
  }
  
  .contentHome a{
    text-decoration: none;
    color: #D04D3C;
  }

  .contentHome img{
    width: 32px;
    height: auto;
    margin-right: 10px;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .nav-links{
      display: flex;
      flex-direction: row;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
  }
  
  .nav-links a{
    text-decoration: none;
    padding: 20px;
    color: #E5B5C1;
  }

  .current li a{
    color: #D04D3C;      
}

  .nav-links li{
      list-style: none;
  }

  .nav-links a:hover{
      color: #D04D3C;
  }


  .nav-links li{
      list-style: none;
  }

  .nav-links a:hover{
      color: #000000;
  }

  h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #D04D3C;
    font-size: 26px;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
      
    
  }

.container{
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
}


.projectBlock{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
  }

.projectBlock img{
width: 300px;
height: auto;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D04D3C;
}

.projectBlock:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



@media screen and (max-width: 780px){
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        
      }

      .nav-links{ 
          flex-direction: column;
          align-items: center;
      }
    
    
      li{
          margin-top: 10px;
      }
    .container{
        flex-direction: column;
    }
    .projectBlock{
        flex-direction: column;
    }
    
    
    h1 {
        font-size: 16px;
        }
    
    .projectTitle{
    font-size: 16px;
}
}
